<!DOCTYPE html>
<html>
    <head>
        <title>Article</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://raw.githack.com/azureDrew/azure/master/style.css">
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/escapeAndMarkupHTML.js"></script>
    </head>
    <body>
        <div class = "articleContainer" id = "articleContainer"></div>
        <script> articleJson = <%- articleJson %>; </script>
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/jsonToArticle.js"></script>
    </body>
</html>
