<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="https://raw.githack.com/azureDrew/azure/master/style.css">
    </head>
    <body>
        <div class = "articleContainer" id = "articleContainer"></div>
        <script> articleJson = <%- articleJson %>; </script>
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/jsonToArticle.js"></script>
    </body>
</html>
