<!DOCTYPE html>
<html>
    <head>
        <title>Article</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://raw.githack.com/azureDrew/azure/master/style.css">
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/escapeAndMarkupHTML.js"></script>
        <script> window.history.replaceState({}, '', window.location.href.split('&previousArticleViewedId=')[0]);</script>
    </head>
    <body>
        <!-- Format and display article -->
        <div class = "articleContainer" id = "articleContainer"></div>
        <script> article = <%- article %>; </script>
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/jsonToArticle.js"></script>
    
        <!-- Format and display article recomendations-->
        <div class = "articleContainer articleRecsContainer" id = "articleRecsContainer"></div>
        <script> articleRecommendations = <%- articleRecommendations %>; </script>
        <script type="text/javascript" src="https://raw.githack.com/azureDrew/azure/master/jsonToArticleRecommendations.js"></script>
    </body>
</html>
